body {
    font-family: 'Otomanopee One', sans-serif;
    color: black;
    background-color: #979797;
    margin: 0;
}


/* -------------- header */

.nav-bar {
    height: 100%;
    background-color: #707070;
    width: 100%;
}

.nav {
    margin: 0;
}

ul {
    display: inline-block;
}

.nav li {
    font-size: 2.1em;
    display: inline-block;
    list-style-type: none;
    margin: 0 20px 0 20px;
}

.nav a {
    text-decoration: none;
    color: black;
}

h2 {
    position: relative;
    top: 10px;
    text-align: center;
}

.theme-box {
    border-color: black;
    border-style: solid;
    height: 30px;
    width: 30px;

    display: inline-block;
    position: relative;

    margin: 0 10px 0 10px;
}

.theme-container {
    position: relative;
}

.theme-box-group {
    text-align: center;
}


/*-------------------------- Media Queries */

@media only screen and (max-width: 768px) {
 
}